import random

li = "+-/*!&amp;amp;amp;amp;amp;amp;amp;amp;amp;$#?=@abcdefghijklnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"

ls = list(li)
random.shuffle(ls)

dict = {}
def ok():
    key = input('Какой ключ добавить?')
    value = input('от чего этот ключ?')
    dict[key] = value

while True:
    pi = input('сколько чисел вам нужно напечатать? 4, 5, 6, 10, 100, 1000, 10000  , сохранить, все пароли')
    if pi == 'сохранить':
        ok()
    elif pi == 'все пароли':
        print(dict)
    elif pi == '4':
        psw = ''.join([random.choice(ls) for x in range(4)])
        print(psw)
    elif pi == '5':
        psw = ''.join([random.choice(ls) for x in range(5)])
        print(psw)
    elif pi == '6':
        psw = ''.join([random.choice(ls) for x in range(6)])
        print(psw)
    elif pi == '10':
        psw = ''.join([random.choice(ls) for x in range(10)])
        print(psw)
    elif pi == '100':
        psw = ''.join([random.choice(ls) for x in range(100)])
        print(psw)
    elif pi == '1000':
        psw = ''.join([random.choice(ls) for x in range(1000)])
        print(psw)
    elif pi == '10000':
        psw = ''.join([random.choice(ls) for x in range(10000)])
        print(psw)
    else:
        print('not find')
